<!-- main end -->
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>
        <b>FullStack Team</b>
        <br>Visit to <a href="https://github.com/Nursaadet">Github</a>
    </p>
</footer>
</body>

</html>